div{
  padding: 5px;
}
.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 26px;
  background-color: aliceblue;
}

.calculator{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 26px;
  background-color: beige;
}

.second-header{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.sum{
  background-color: green;
  color: white;
  padding: 26px;
}

.date-inputs{
  display: flex;
}

.current-balance{
  text-align: left;
}